.work-container {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.workmgr-container {
    border: 1px solid black;
    margin: 10px;
    padding: 2px;
}

.form-container {
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
}

.form {
    /* display: block;
    position: fixed;*/
    height: 90%;
    width: 90%;
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    /* height: auto; */
    /* top: 10%; */
    /* left: 5%;  */
}

::-webkit-scrollbar {
    display: none;
  }

.taskmgr-container {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: bisque;
}

.tasks-container {
    height: 85%;
    overflow-x: scroll;
    overflow-y: scroll;
}

.task-panel {
}

.task-detail {
    white-space: nowrap;
    display: inline-block;
    width: 80%;
}

.today-container {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.today-checkin-container {
    height: 85%;
    overflow-y: scroll;
}

.mybutton {
    padding: 10px;
    margin: 10px;
}

.banner {
    height: 10%;
    display: flex;
    /* border: 1px solid black; */
    padding: 10px;
}

.banner-right {
    width: 50%;
}

.banner-left {
    width: 50%;
}
input {
    width: 100%;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    box-sizing: border-box;
}

.mgr-container {

}

.mgr-left {
    float: left;
    width: 50%;
}

.mgr-right {
    float: right;
    width: 50%;

}